/* common */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  color: #444;
  text-decoration:none;
}

body {
  font-family: 'Josefin Sans', sans-serif;;
  margin: 0;
  color: #444;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 4rem;
}

html {
  font-size: 62.5%;
}

img {
  vertical-align: bottom;
  align-items: center;
}

.ja {
  font-size: 70%;
  font-weight: 600;
}


/* header */

header .menu p {
  font-weight: 500;
  font-size: 2rem;
  margin-left: 2em;
}

header .menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 6rem;
}


header h1 {
  font-weight: 500;
  margin-bottom: 1.6rem;
  font-size: 4rem;
  text-align: center;
  padding: 0;
}

header .name {
  font-weight: 500;
  font-size: 1.7rem;
  margin-top: 9rem;
  text-align: center;
}


main .container .title  {
  left: 0;
}

main .container .title h2 {
  margin-top: 14rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 400;
  }

  .sort-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12rem;
    margin-bottom: 3rem;
  }
  
  .sort-btn li{
    font-size: 1.7rem;
    font-weight: 500;
    list-style:none;
    cursor: pointer;
    margin: 1rem;
  }
  
  .sort-btn li.active {/*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
    text-decoration: underline;
    text-decoration-color: #444;
    text-decoration-thickness: 0.2rem;
    text-underline-position: under;
  }  

@media(max-width:900px) {
  html {
    font-size: 50%;
  }
  body {
    width: 90vw;
  }
  header {
    margin-top: 3rem;
  }
}




  .works img,
  .ith_works img {
    transition: 0.6s;
  }



.mask .explanation {
  font-size: clamp(10px, 0.8vw, 15px);
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin-top: 24.5%;
  color: #eee;
}

.mask .explanation h3 {
  font-size: clamp(15px, 0.8vw, 20px);
  font-weight:700;
}
.mask .explanation p {
  margin-top: 0.3rem;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color:	rgba(0, 0, 0, 0.6);
	-webkit-transition:	all 0.3s ease;
	transition:		all 0.3s ease;
}

.works:hover .mask,
.ith_works:hover .mask {
  opacity: 1;
}
.works:hover img,
.ith_works:hover img {
  transform: scale(1.1, 1.1);
  transition: 0.6s all;
}


/*＝＝＝Muuriのレイアウトのための調整 */
.grid {
  position: relative;/*並び替えの基準点を指定*/
}

/*各画像の横幅などの設定*/
.item {
  display: block;
  position: absolute;
  width: 33.3%;/*横並びで3つ表示*/
  z-index: 1;
  list-style:none;
}

/*内側のボックスの高さが崩れないように維持*/
.works {
  position: relative;
  overflow: hidden;
  transition: 0.6s;
}

/*画像の横幅を100%にしてレスポンシブ化*/
.grid img {
  width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}


.grid_2 {
  display: flex;
  flex-wrap: wrap;
}

.item_2 {
  width: 33.3%;
  z-index: 1;
  list-style: none;
}

.grid_2 img {
  width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*横幅が768px以下になった際の指定*/
@media only screen and (max-width: 768px) {
.item,
.item_2 {
  width: 49.5%;/*横並びで2つ表示*/
  }
}
@media only screen and (max-width: 500px) {
.item {
  width: 100%;
  }
.item_2 {
  width: 100%;
}
}



/* footer */

footer {
  margin-top: 120px;
  text-align: center;
  font-size: 1.7rem;
  color: #aaa;
}

footer .icon {
  margin-bottom: 2rem;
}