/* common */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: #444;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 4rem;
}

a {
  color: #222;
  text-decoration:none;
}

img {
  vertical-align: bottom;
  align-items: center;
  margin-bottom: 1rem;
}

span {
  display: inline-block;
}

.ja {
  font-size: 70%;
}

.video_set {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
}

.video_set iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}



.subtitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
  color: #222;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

/* header */

/* menu */
header .menu p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-left: 2em;
}

/* Koki Kiyota */
header p:first-child {
  font-weight: 500;
  font-size: 2rem;
  margin-right: auto;
  margin-left: 0;
}

header .menu {
  display: flex;
  justify-content: end;
  margin-top: 6rem;
  margin-bottom: 14rem;
}

/* main */

.main_page {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 25rem;
}

.title {
  align-self: center;
}

.main_page .title h1 {
  margin-bottom: 1rem;
}

.main_page .title h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 8rem;
}

.remarks .title h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.remarks {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(133, 133, 133);
}

.remarks p {
  margin-bottom: 0.1rem;
}

.remarks section:first-child {
  margin-bottom: 2rem;
}

.outline,
.background {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25rem;
}

.video,
.programming,
.system {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25rem;
}

.programming img {
  margin-bottom: 16rem;
}

.programming h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.programming p {
  margin-bottom: 3rem;
}

main p {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 3rem;
  margin-bottom: 2rem;
}

main .img {
  text-align: center;
}

@media(max-width:900px) {
  html {
    font-size: 50%;
  }
  body {
    width: 90vw;
  }
  header .menu {
    margin-top: 3rem;
  }
  main p {
    line-height: 2.5rem;
  }
  .beside {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}



/* footer */
footer {
  margin-top: 25rem;
  text-align: center;
  font-size: 1.7rem;
  color: #aaa;
}
