/* common */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: #444;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 4rem;
}

a {
  color: #222;
  text-decoration:none;
}

img {
  vertical-align: bottom;
  align-items: center;
  width: 100%;
  height: auto;
}

span {
  display: inline-block;
}

.ja {
  font-size: 70%;
}

.video_set {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
}

.video_set iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}



.subtitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
  color: #222;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

/* header */

/* menu */
header .menu p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-left: 2em;
}

/* Koki Kiyota */
header p:first-child {
  font-weight: 500;
  font-size: 2rem;
  margin-right: auto;
  margin-left: 0;
}

header .menu {
  display: flex;
  justify-content: end;
  margin-top: 6rem;
  margin-bottom: 14rem;
}

/* main */

.main_page {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 25rem;
}

.main_page img {
  width: 70%;
  height: auto;
}

.title {
  align-self: center;
}

.main_page .title h1 {
  margin-bottom: 1rem;
}

.main_page .title h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 8rem;
}

.remarks .title h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.remarks {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(133, 133, 133);
}

.remarks p {
  margin-bottom: 0.1rem;
}

.remarks section {
  margin-bottom: 2rem;
}
.remarks section:last-child {
  margin-bottom: 0;
}

.overview,
.approach {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25rem;
}

.video,
.programming,
.homage,
.system,
.beforeafter {
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25rem;
}

.approach h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.approach span {
  color:rgb(182, 79, 79);
}

.approach p {
  margin-bottom: 8rem;
}

.system h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.system p {
  margin-bottom: 5rem;
}

main .pic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  justify-content: center;
}


main .pic img {
  width: 100%;
  height: auto;
  margin: 0;
}


.quote {
	position: relative;
	width: 90%;
	margin: 2em auto;
}

.quote blockquote {
	margin: 0;
	padding: 0.5em 1em;
	text-indent: 1.5em;
	color: #333333;
	border-left: 2px solid #999999;
}

.quote blockquote:before,
.quote blockquote:after {
	position: absolute;
	color: #999999;
}
.quote blockquote:before {
  font-family:'Font Awesome 5 Free';
	top: 1rem;
	left: -0.5rem;
	content: '\f10d';
  font-weight: 900;
}
.quote blockquote:after {
  font-family:'Font Awesome 5 Free';
	right: 2.2rem;
	bottom: 7rem;
	content: '\f10e';
  font-weight: 900;
}

.quote blockquote p.author {
	margin: 0;
	text-align: right;
}

main .comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

main .comment img {
  width: 25%;
  height: auto;
  margin-right: 2rem;
  justify-content: center;
}







main .steps {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: center;
} 

main .steps img {
  width: 100%;
  height: auto;
  margin: 0;
}









main p {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 3rem;
  margin-bottom: 2rem;
}

main .img {
  text-align: center;
}

main .ba {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: center;
}



@media(max-width:900px) {
  html {
    font-size: 50%;
  }
  body {
    width: 90vw;
  }
  header .menu {
    margin-top: 3rem;
  }
  main p {
    line-height: 2.5rem;
  }
  .beside {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}



/* footer */
footer {
  margin-top: 25rem;
  text-align: center;
  font-size: 1.7rem;
  color: #aaa;
}
